<%= content_for(:navbar_class, "navbar-home") %>
<div class="article-page">
  <div class="d-flex justify-content-center article-source">
    <p>
    <%= cl_image_tag @article.source, height: 200, crop: :fill %>
    </p>
  </div>
  <div class="mt-5 d-flex">
    <div class="article-content flex-column justify-content-center text-left col-12 col-lg-8 ml-5">
        <h1><%= @article.title %></h1>
        <p><%= @article.date %></p>
        <p class='mb-5'>
          <%= cl_image_tag @article.photo, width: 800, crop: :fill %>
        </p>
        <h3 class="text-justify"><%= @article.content %></h3>
    </div>
    <div class="col-12 col-lg-3 ml-5 article-annexe">
      <div class="sticky-top">
        <div class="article-content mb-5 article-tag">
          <h1>Catégories</h1>
          <ul class='d-flex'>
          <% @article.tag_list.each do |tag| %>
            <li>
            <%= link_to tag, articles_path(tag: tag) %>
            </li>
          <% end %>
          </ul>
        </div>
        <div class="article-content related-articles">
          <h1>Related Articles</h1>
          <ul>
            <% @related_articles.each do |r| %>
              <li><%= link_to r.title, article_path(r) %></li>
            <% end %>
          </ul>
          <h2><%= link_to 'Go back', articles_path %></h2>
        </div>
      </div>
    </div>
  </div>
</div>

