<%= content_for(:navbar_class, "navbar-home") %>
<nav id="cd-vertical-nav">
    <ul style="list-style: none;">
      <li>
        <a href="#section1" data-number="1">
          <span class="cd-dot"></span>
          <span class="cd-label">Contact info</span>
        </a>
      </li>
      <li>
        <a href="#section2" data-number="2">
          <span class="cd-dot"></span>
          <span class="cd-label">Contact form</span>
        </a>
      </li>
    </ul>
  </nav>
  <a class="cd-nav-trigger cd-img-replace">Open navigation<span></span></a>

  <section id="section1" class="cd-section home-contact">
    <div class="container flex-column justify-content-center">
      <div class="row justify-content-center pb-5 mt-5">
        <h1 class="lg-12">Contact</h1>
        <br>
        <br>
      </div>
      <img src="../assets/carre_gris.png" alt="croix" class="carre-gris-contact">
      <div class=" row d-flex justify-content-between mx-5 px-5 my-5">
        <div class="contact-info col-12 col-lg-6 text-left">
          <img src="../assets/logo.png" alt="logo">
          <h3>38, rue de Trévise</h3>
          <h3>75009 Paris</h3>
          <h3>France</h3>
          <h4>+33 1 42 00 11 24</h4>
          <h4>nchican@omacinema.com</h4>
          <a href="#section2" class="cd-scroll-down btn-danger btn mb-5 mt-4">Contact Us</a>
        </div>
        <div id="map1" class="col-12 col-lg-6"  style="width: 500px; height: 300px;" data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
        </div>
      </div>
    </div>
  </section><!-- cd-section -->

  <section id="section2" class="cd-section">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-sm-offset-3">
          <div class="form-post">
            <h1>Contact Us</h1>
              <%= simple_form_for(@message, url: create_message_url) do |f| %>
              <%= notice %>
              <%= @message.errors.full_messages.join(', ') %>
              <div class="row ml-0 pt-5">
                <div class="col-xs-6 col-sm-6 pl-0 name-contact">
                  <%= f.input :name, placeholder: "name" %>
                </div>
                <div class="col-xs-6 col-sm-6 pr-0 email-contact">
                  <%= f.input :email, placeholder: 'email' %>
                </div>
              </div>
              <%= f.input :body, placeholder: 'your message...' %>
              <%= f.submit 'Send', class: 'btn btn-danger'%>
            <% end %>
          </div>
        </div>
        </div>
      </div>
  </section><!-- cd-section -->
